@import url("normalize.css");

body {
    font-family: Roboto, sans-serif;
}

.content {
    width: 100%;
    max-width: 1219px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 55px;
    padding-right: 55px;
}

/*-----------ТЕКСТ------------*/

h2 {
    color: #007765;
    font-size: 64px;
    text-align: center;
    font-style: normal;
}

/*-----------РАЗДЕЛЫ------------*/

#the_problem,
#the_team {
    background-color: #EEEEEE;
}

#pied_piper_coin {
    background-color: #FFFFFF;
}

#the_problem,
#pied_piper_coin,
#the_team p {
    font-size: 32px;
    text-align: justify;
}

#the_problem,
#pied_piper_coin,
#the_team {
    /*-----------------для корректной навигации --------------------*/
    border-top: 84px solid transparent;
    margin-top: -84px;
    background-clip: padding-box;
    padding-bottom: 92px;
}

/*-----------ШАПКА------------*/

header {
    background-color: #007765;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 21;
}

.header_container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav,
a {
    color: #FFFFFF;
    font-size: 24px;
    text-decoration: none;
}

/*-----------КАРТИНКА С НАЛПИСЬЮ------------*/

.pic_with_label {
    background-size: cover;
    width: 100%;
    text-align: center;
    color: #FFFFFF;
}

.pic_with_label#first {
    background-image: url(img/img.png);
    padding: 160px 0;
    font-size: 72px;
    font-weight: bold;
}

.pic_with_label#second {
    background-image: url(img/img2.png);
    padding: 128px 0;
    font-size: 48px;
    font-style: italic;
}

/*-----------ИЗОБРАЖЕНИЯ------------*/

#logo {
    width: 184px;
    margin: 20px 55px;
}

#PPC_Logo {
    width: 115px;
    height: 115px;
    float: left;
    padding-right: 35px;
}

.person_card img {
    width: 168px;
    height: 168px;
}

/*-----------РАЗДЕЛ О СОТРУДНИКАХ------------*/
.table {
    margin: 0;
    /*Расстояние от края элемента до края другог элемента*/
    padding: 0;
    /*Устанавливает значение полей вокруг содержимого элемента*/
    display: flex;
    /*Определяет как элемент должен быть показан в документе*/
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.person_card {
    width: 350px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    text-align: center;
    padding-bottom: 55px;
}

.name {
    color: #007765;
    font-size: 24px;
    font-weight: bold;
    padding-top: 12px;
}

.profession {
    font-size: 18px;
    font-style: italic;
}

/*-----------ФУТЕР------------*/
footer {
    background-color: #333333;
    width: 100%;
    color: #FFFFFF;
    height: 176px;
    text-align: center;
}

footer p {
    padding: 48px 340px 64px 339px;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
}